[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = "show_lose_cta and"
position = "before"
payload = """
(not show_lose_cta and S.SETTINGS.modules.challenger_plus.enabled and S.SETTINGS.modules.challenger_plus.features.retry_button) and {
  n = G.UIT.R,
  config = { align = "cm" },
  nodes = {
    {
      n = G.UIT.C,
      config = { align = "cl", padding = 0.1 },
      nodes = {
        {
          n = G.UIT.R,
          config = {
            id = "from_game_over",
            align = "cm",
            minw = 5,
            padding = 0.1,
            r = 0.1,
            hover = true,
            colour = G.C.RED,
            button = "notify_then_setup_run",
            shadow = true,
            focus_args = { nav = "wide", snap_to = true },
          },
          nodes = {
            {
              n = G.UIT.R,
              config = { align = "cm", padding = 0, no_fill = true, maxw = 4.8 },
              nodes = {
                {
                  n = G.UIT.T,
                  config = {
                    text = localize("b_start_new_run"),
                    scale = 0.5,
                    colour = G.C.UI.TEXT_LIGHT,
                  },
                },
              },
            },
          },
        },
        {
          n = G.UIT.R,
          config = {
            align = "cm",
            minw = 5,
            padding = 0.1,
            r = 0.1,
            hover = true,
            colour = G.C.RED,
            button = "go_to_menu",
            shadow = true,
            focus_args = { nav = "wide" },
          },
          nodes = {
            {
              n = G.UIT.R,
              config = { align = "cm", padding = 0, no_fill = true, maxw = 4.8 },
              nodes = {
                {
                  n = G.UIT.T,
                  config = { text = localize("b_main_menu"), scale = 0.5, colour = G.C.UI.TEXT_LIGHT },
                },
              },
            },
          },
        },
      },
    },
    {
      n = G.UIT.C,
      config = { align = "cl", padding = 0.1 },
      nodes = {
        {
          n = G.UIT.R,
          config = {
            id = "retry_challenge_button",
            align = "cm",
            minh = 1.35,
            minw = 1.35,
            padding = 0.1,
            r = 0.1,
            hover = true,
            colour = G.C.SECONDARY_SET.Planet,
            button = "retry_challenge",
            shadow = true,
            focus_args = { nav = "wide", snap_to = true },
          },
          nodes = {
            {
              n = G.UIT.R,
              config = { align = "cm", padding = 0, no_fill = true, maxw = 4.8 },
              nodes = {
                { n = G.UIT.T, config = { text = "Retry", scale = 0.5, colour = G.C.UI.TEXT_LIGHT } },
              },
            },
          },
        },
      },
    },
  },
} or
"""
overwrite = false
match_indent = true

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "if self.ability.consumeable or self.ability.set == 'Joker' or (self.area and self.area == G.pack_cards) then"
position = "before"
payload = """
if self.ability.consumeable and (self.area and self.area == G.consumeables) and G.FUNCS.check_mass_use({ config = { ref_table = self } }) then
  if self.highlighted and self.area and self.area.config.type ~= 'shop' then
    local x_off = (self.ability.consumeable and -0.1 or 0)
    self.children.mass_use_button = UIBox{
      definition = G.UIDEF.mass_use_button(self),
      config = {
        align = (self.area == G.consumeables) and "cl" or "bmi",
        offset = (self.area == G.consumeables) and {x=-(x_off - 0.4),y=0} or {x=0,y=0.65},
        parent = self
      }
    }
  elseif self.children.mass_use_button then
    self.children.mass_use_button:remove()
    self.children.mass_use_button = nil
  end
end
"""
overwrite = false
match_indent = true

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "if self.children.use_button and self.highlighted then self.children.use_button:draw() end"
position = "before"
payload = """
if self.children.mass_use_button and self.highlighted then
  self.children.mass_use_button:draw()
end
"""
overwrite = false
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = "if card.children.use_button then card.children.use_button:remove(); card.children.use_button = nil end"
position = "before"
payload = "if card.children.mass_use_button then card.children.mass_use_button:remove(); card.children.mass_use_button = nil end"
overwrite = false
match_indent = true
